*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    height: 100%;
}

.gradient{
    background: linear-gradient(45deg, blue, white);
}

.picture{
    width: 25%;
    border-radius: 50%;
}

.hashtag{
    font-weight: 400;
    font-size: 2em;
    margin: 16px 0px
}

.description{
    font-size: 1em;
    color: gray;
}